<!DOCTYPE html>
<html>
   <head>
      <title>cartable</title>
      <style>
         body {
           background-image: url('/image/GBTruck.jpg');
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: 100% 100%;
         }
      </style>
   </head>

   <body>
      <div id="cartable">
         <body>
          
            <div class="container" id="container">
                <div class="overlay-panel overlay-right" style="background-color:rgb(255, 255, 255); width: 100;">
                  <head>
                     <style>
                     table, th, td {
                       border: 1px solid rgb(255, 255, 255);
                       border-collapse: collapse;
                     }
                     th, td {
                       background-color: #7fcece;
                     }
                     </style>
                   </head>
                     <body>
                     
                     <h2>ตารางการเดินรถ</h2>
                        <p>รายละเอียดเส้นทางการเก็บขนขยะมูลฝอย  ในเขตพื้นที่เขตเทศบาลเมืองน่าน 
                        งานรักษาความสะอาด  กองสาธารณสุขและสิ่งแวดล้อม  เทศบาลเมืองน่าน 
                        </p>
                     
                     <table style="width:100%">
                       <tr>
                         <th style="width:10%">ประเภทรถ</th>
                         <th>หมายเลขประจำรถ</th>
                         <th>หมายเลขทะเบียนรถ</th> 
                         <th style="width:7%">เวลาจัดเก็บ</th>
                         <th>ถนน  ตรอก  ซอย ที่รถจะผ่าน</th>
                       </tr>
                       <tr>
                         <td style="text-align: center;">รถขยะมูลฝอยทั่วไป</td>
                         <td style="text-align: center;">3</td>
                         <td style="text-align: center;">81-0797</td>
                         <td style="text-align: center;">04.00-07.00 น.</td>
                         <td style="text-align: center;">1.ซอยข้างวัดมงคล,ซอยบ้านมงคล,ซอยบ้านหัวข่วง (อังคาร/พฤหัส/เสาร์)
                              2. ซอยบ้านดอนศรีเสริม,ซอย๔ ซอยหน้าร้านกู๊ดวิวล์–บ้านทนายแดง (วันเว้นวัน)
                              3. ซอยร้านนวดเพื่อสุขภาพ บ้านดอนแก้ว (จันทร์/พุธ/ศุกร์)
                              4. ซอยบ้านหัวเวียงใต้ (อังคาร/พฤหัสบดี/เสาร์)
                              5. ซอยชุมชนบ้านพญาภู (จันทร์/พุธ/ศุกร์)
                              6. ซอยร้านกอร์เมร์ 
                              7. ซอยท่าลี่สายล่าง 2 ซอย (จันทร์/พุธ/ศุกร์)
                              8. ซอยชุมชนบ้านพวงพะยอม (ทำไก่) ,ซอยตัน (จันทร์/พุธ/ศุกร์)
                              9. ซอยอริยวงศ์ 2 ข้างปั๊มปตท.บ้านอภัย (อังคาร/พฤหัสบดี/เสาร์)
                              10. ซอยจอดรถทัวร์ฮอมปอย (อังคาร/พฤหัสบดี/เสาร์)
                              11. ซอยข้างวัดพันต้น  ด้านทิศใต้ (อังคาร/พฤหัสบดี/เสาร์)
                              12. ซอยชุมชนบ้านหัวข่วง มหาพรหม 2, ซอยตัน (อังคาร/พฤหัสบดี/เสาร์)
                              
                        </td>
                       </tr>
                       <tr>
                         <td style="text-align: center;">รถขยะมูลฝอยทั่วไป</td>
                         <td style="text-align: center;">4</td>
                         <td style="text-align: center;">81-2303</td>
                         <td style="text-align: center;">04.00-07.00 น.</td>
                         <td style="text-align: center;"> 1. ซอยบ้านพระเนตร (ร้านตัดผม) – ซอยหน้าโรงพยาบาลน่าน (อังคาร/พฤหัสบดี/เสาร์)
                           2. ซอย ๑ บ้านมหาโพธิ (จันทร์/พุธ/ศุกร์)
                           3. ซอยบ้านมหาโพธิ ข้างสนามบินน่าน – ซอยข้างวัดมหาโพธิ  ด้านทิศเหนือ (จันทร์/พุธ/ศุกร์)
                           4. ซอยข้างร้านต้นข้าว  ติดวัดมหาโพธิ  ด้านทิศใต้ (จันทร์/พุธ/ศุกร์)
                           5. ซอยข้างศูนย์ ศสมช.บ้านมหาโพธิ  (จันทร์/พุธ/ศุกร์))
                           6. ซอยบ้านมหาโพธิ(หอพัก 99) – หลังค่ายสุริยพงษ์ (เว้นวัน)
                           7. ซอยหลังวัดเชียงแข็ง(หอพัก) 2 ซอย – บ้าน สท.สมฤทธิ์ จิตตวงค์นันท์  
                           (วันเว้นวัน)
                           8. ซอย 1, 2, 3, 4, 5 ชุมชนบ้านนน้ำล้อม (จันทร์/พุธ/ศุกร์)
                           9. ซอยตันบ้านช้างเผือก (เว้นวัน)
                           10. ซอยวัดช้างเผือกด้านทิศข้างวัดสถารสด้านใต้ (ใต้ บ้านผู้ใหญ่ประเสริฐ์หลังวัดช้างเผือกทั้งหมด (อังคาร/พฤหัส/เสาร์)
                           11. ซอยทรัพย์สนุกเกอร์ (เว้นวัน)
                           12. ชุมชนหนองถ่าน (ซอยร้านน่านสหกิจ – สี่แยกประปา) (อังคาร/พฤหัส/เสาร์)
                        
                           </td>
                       </tr>
                       <tr>
                        <td style="text-align: center;">รถขยะมูลฝอยทั่วไป</td>
                        <td style="text-align: center;">2</td>
                        <td style="text-align: center;">80-8250</td>
                        <td style="text-align: center;">18.00-21.00 น.</td>
                        <td style="text-align: center;"> 1. ชุมชนบ้านสวนหอม หมู่ 3  (จันทร์/พุธ/เสาร์)
                             2. ชุมชนฟ้าใหม่ หมู่ 9 (อังคาร/พฤหัสบดี/อาทิตย์)
                             3. ถนนมหายศ ตั้งแต่ สามแยกศาลจังหวัดน่าน - สี่แยกกิตติชัย (วันเว้นวัน)
                             4. ถนนรอบเมืองด้านตะวันตก, วิทยาลัยเทคนิคน่าน (วันเว้นวัน)
                             5. ตลาดตั้งจิตนุสรณ์, ตลาดราชพัสดุ (ทุกวัน) 
                             6. ถนนมหาพรหมตลอดสาย(สี่แยกวัดพระธาตุช้างค้ำ–สามแยกสถิติ) (ทุกวัน) 
                             7. ชุมชนบ้านฟ้าใหม่ ม.๙ ต.ผาสิงห์ ซอยสังฆทาน (จันทร์/พุธ/เสาร์)
                             8. โรงแรมเทวราช 
                             9. ถนนข้าหลวง (สี่แยกร.ร.ศรีเสริมกสิกร–สวนศรีเมือง)
                             10. ถนนเจตบุตร 
                             11. ถนนมะโน (ต้นโพธิ์ - สะพานพัฒนาภาคเหนือ)
                             12. วัดพระธาตุช้างค้ำวรวิหาร
                           
                          </td>
                      </tr>
                      <tr>
                        <td style="text-align: center;">รถขยะมูลฝอยทั่วไป</td>
                        <td style="text-align: center;">12</td>
                        <td style="text-align: center;">81-1908</td>
                        <td style="text-align: center;">14.00-17.00 น.</td>
                        <td style="text-align: center;"> 1. ถนนอนันตวรฤทธิเดช ตลอดสาย (ทุกวัน)
                           2. ถนนสุมนเทวราช  สี่แยกห้างนราเก่า – สามแยกถนนคำยอด (ทุกวัน)
                           3. ถนนหน่อคำตลอดสาย (จันทร์/พุธ/เสาร์)
                           4. ถนนมหายศ สี่แยกร้านกิติชัยพานิชย์ – สี่แยกสวนตาล (วันเว้นวัน)
                           5. ถนนข้าหลวง สี่แยก ร.ร.บ้านดอนศรีเสริม–สามแยกผินผิน (จันทร์/พุธ/เสาร์)
                           6. แยกร้านก๋วยเตี๋ยวผินผิน–สามแยกร้านชินวัฒนา (อังคาร/เสาร์/อาทิตย์) 
                           7. ถนน ตรอก ซอย ในบ้านหัวเวียงใต้ร้องโอ้ (อังคาร/พฤหัสบดี/อาทิตย์)
                           8. บ้านดอนศรีเสริมซอยหลัง บขส.เก่า (อังคาร/เสาร์)
                           9. ถนนข้าหลวงตั้งแต่ร้านผินผิน-สามแยกสวนตาล (จันทร์/พุธ/เสาร์)
                           10. โรงเรียนบ้านดอน (ศรีเสริมกสิกร)  (เว้นวันศุกร์)
                           11. โรงเรียนสตรีศรีน่าน (เว้นวันศุกร์)
                           12. ชุมชนบ้านมณเฑียร, ชุมชนบ้านมงคล (จันทร์/พุธ/เสาร์)
                           
                          </td>
                      </tr>
                      <tr>
                        <td style="text-align: center;">รถขยะมูลฝอยอินทรีย์</td>
                        <td style="text-align: center;">10</td>
                        <td style="text-align: center;">80-9612</td>
                        <td style="text-align: center;">14.00-17.00 น.</td>  
                           <td style="text-align: center;"> 1. ถนนอนันตวรฤทธิเดช ตลอดสาย (ทุกวัน)
                              2. ถนนสุมนเทวราช  สี่แยกห้างนราเก่า – สามแยกถนนคำยอด (ทุกวัน)
                              3. ถนนหน่อคำตลอดสาย (จันทร์/พุธ/เสาร์)
                              4. ถนนมหายศ สี่แยกร้านกิติชัยพานิชย์ – สี่แยกสวนตาล (วันเว้นวัน)
                              5. ถนนข้าหลวง สี่แยก ร.ร.บ้านดอนศรีเสริม–สามแยกผินผิน (จันทร์/พุธ/เสาร์)
                              6. แยกร้านก๋วยเตี๋ยวผินผิน–สามแยกร้านชินวัฒนา (อังคาร/เสาร์/อาทิตย์) 
                              7. ถนน ตรอก ซอย ในบ้านหัวเวียงใต้ร้องโอ้ (อังคาร/พฤหัสบดี/อาทิตย์)
                              8. บ้านดอนศรีเสริมซอยหลัง บขส.เก่า (อังคาร/เสาร์)
                              9. ถนนข้าหลวงตั้งแต่ร้านผินผิน-สามแยกสวนตาล (จันทร์/พุธ/เสาร์)
                              10. โรงเรียนบ้านดอน (ศรีเสริมกสิกร)  (เว้นวันศุกร์)
                              11. โรงเรียนสตรีศรีน่าน (เว้นวันศุกร์)
                              12. ชุมชนบ้านมณเฑียร, ชุมชนบ้านมงคล (จันทร์/พุธ/เสาร์)
                            
                             </td>
                         </tr>
                          </td>
                      </tr>
                      <tr>
                        <td style="text-align: center;">รถขยะมูลฝอยอินทรีย์</td>
                        <td style="text-align: center;">8</td>
                        <td style="text-align: center;">80-5523</td>
                        <td style="text-align: center;">18.00-24.00 น.</td>
                        <td style="text-align: center;"> 1. ถนนมหายศ ตั้งแต่สี่แยกวรวิชัย – หน้ามหาวิทยาลัยเทคโนโลยีราชมงคลล้านนาน่าน (จันทร์/พุธ/ศุกร์)
                           2. ถนนเทศบาลดำริห์  ตลอดสาย (อังคาร/พฤหัสบดี/เสาร์)
                           3. ถนนรอบเมืองด้านเหนือ  ตลอดสาย (จันทร์/พุธ/ศุกร์)
                           4. โรงพยาบาลน่าน (ทุกวัน)
                           5. ถนน ตรอก ซอย ชุมชนบ้านสถารศบางส่วน,ชุมชนบ้านมหาโพธิ์,ชุมชนบ้านเชียงแข็ง, ชุมชนบ้านน้ำล้อม (อังคาร/พฤหัสบดี/เสาร์)
                           6. ค่ายทหาร ม.พัน ๑๐ (จันทร์/พุธ/ศุกร์)
                           7. ตลาดสดเชียงแข็ง (ทุกวัน)
                           8. มหาวิทยาลัยเทคโนโลยี่ราชมงคลล้านนาน่าน (พฤหัสบดี/อาทิตย์)
                           9. ลานจอดรถค่ายสุริยพงษ์ (ริมฝั่งแม่น้ำน่าน) (จันทร์/พุธ/ศุกร์) 
                           10. มหายศ ซอย ๓ (อังคาร/พฤหัสบดี/เสาร์)                           
                          </td>
                      </tr>

                      <tr>
                        <td style="text-align: center;">รถขยะมูลฝอยทั่วไป</td>
                        <td style="text-align: center;">9</td>
                        <td style="text-align: center;">80-6177</td>
                        <td style="text-align: center;">18.00-24.00 น.</td>
                        <td style="text-align: center;"> 1. ถนนรังสีเกษมตลอดสาย (อังคาร/พฤหัสบดี/อาทิตย์)
                           2. ถนนคำยอดตลอดสาย หน้าวิทยาลัยสารพัดช่างน่าน – สามแยก  ศสมช.ชุมชนบ้านสวนตาล (อังคาร/พฤหัสบดี/อาทิตย์)
                           3. ถนนสุมนเทวราช  สามแยกร้านชินวัฒนา – สามแยกรังสีเกษม (ทุกวัน)
                           4. ถนนเปรมปรีดาตลอดสาย (จันทร์/พุธ/เสาร์)
                           5. ถนนราษฎร์ประสงค์ตลอดสาย (อังคาร/พฤหัสบดี/อาทิตย์)
                           6. ถนนเปรมประชาราษฎตลอดสาย (ทุกวัน)
                           7. ถนนเส้นเข้าสุสานลอมเชียงของ  (จันทร์/พุธ/เสาร์)
                           8. โรงเรียนน่านคริสเตียนศึกษา,โรงเรียนรังสีเกษม (ทุกวัน)
                           9. ศูนย์การศึกษานอกระบบฯลฯ (กศน.น่าน)  (อังคาร/เสาร์)
                           10. วิทยาลัยสารพัดช่างน่าน (จันทร์/พุธ/ศุกร์)
                           11. ห้างนราไฮเปอร์มาร์ท (อังคาร/พฤหัสบดี/อาทิตย์)
                           12. โรงเรียนอยู่วิทยา (จันทร์/พุธ/เสาร์) 
                                  
                          </td>
                      </tr>
                     <tr>
                        <td style="text-align: center;">รถขยะมูลฝอยทั่วไป</td>
                        <td style="text-align: center;">11</td>
                        <td style="text-align: center;">81-1591</td>
                        <td style="text-align: center;">03.00-08.00 น.</td>
                        <td style="text-align: center;"> 1. ถนนสุริยพงษ์ตั้งแต่กาดแลง-แยกศรีพันต้น (ทุกวัน)
                           2. ถนนเจ้าฟ้าตั้งแต่แยกศรีพันต้น-ทางเข้าขนส่ง+สถานีขนส่งน่าน (ทุกวัน)
                           3. ถนนรอบเมืองด้านใต้ตั้งแต่เรือนจำ-แยกอริยะวงศ์ / (พุธ,อาทิตย์)
                           4. ถนนสายท่าลี่ตั้งแต่แยกท่าลี่-บ้านพวงพะยอม (อังคาร/พฤหัสบดี/อาทิตย์)
                               ถนนสายท่าลี่ตั้งแต่แยกท่าลี่-บ้านพญาภู (จันทร์/พุธ/เสาร์)
                           5. ถนนอชิตวงศ์ (จันทร์/พุธ/เสาร์)
                           6. ถนนผากอง  สี่แยกข่วงเมือง – แยกท่าลี่ (ทุกวัน)
                           7. บริเวณกาดแลง ริมแม่น้ำน่าน (ทุกวัน) 
                           8. ถนนอริยะวงศ์ (พฤหัสบดี/เสาร์)
                           9. ถนนทางเข้าสถานีขนส่งน่าน, บริเวณสถานีขนส่งน่าน (ทุกวัน)  
                           10. ถนนรอบเมืองด้านตะวันตก ชุมชนบ้านอภัย, ชุมชนบ้านศรีพันต้น           , ชุมชนบ้านพวงพยอม (อังคาร/พฤหัสบดี/อาทิตย์)
                           11. โรงเรียนราชานุบาล (ทุกวัน)
                           12. โรงเรียนจุมปีวนิดาภรณ์ (เทศบาลบ้านภูมินทร์)  (ทุกวัน)
                                
                          </td>
                      </tr>
                      <tr>
                        <td style="text-align: center;">รถขยะมูลฝอยทั่วไป</td>
                        <td style="text-align: center;">13</td>
                        <td style="text-align: center;">81-1909</td>
                        <td style="text-align: center;">04.00-08.00 น.</td>
                        <td style="text-align: center;"> 1. ชุมชนบ้านไผ่เหลือง, ชุมชนบ้านหัวข่วง 
                           2. สี่แยกวัดช้างค้ำ, สี่แยกโรงเรียนราชานุบาล (ทุกวัน)
                           3. กาแฟข่วงฮังต่อ, ครัวเมนูปลา, สนามฟุตบอล(อารีน่า), โกลส์ฟิตเนส  
                           (วันเว้นวัน)
                           4. สี่แยก ธกส. , ชุมสายโทรศัพท์, วัดช้างค้ำ (ทุกวัน)
                           5. ชุมชนบ้านท่าลี่ (เตาเผาดิน), ออกซอยชุมชนบ้านท่าลี่ (เส้นทางเก่า) 
                           (วันเว้นวัน)
                           6. ชุมชนบ้านท่าลี่ (ซอยบ้านนายฉลอง), ซอยบ้านท่าลี่, ชุมชนบ้านพญาภู 
                           (วันเว้นวัน)
                           7. กาดน่าน, สำนักงานเทศบาลเมืองน่าน, โรงฆ่าสัตว์ (ทุกวัน)
                           8. สี่แยกไฟแดงบ้านภูมินทร์-ท่าลี่ (วันเว้นวัน)
                           9. กองช่างสุขาภิบาล เทศบาลเมืองน่าน (พุธ / พฤหัสบดี)
                           10. ชุมชนพญาภู, ชุมชนท่าลี่, ชุมชนมิ่งเมือง (วันเว้นวัน)
                           11. ตลาดโต้รุ่ง ถนนผากอง – สี่แยก ธกส. (ทุกวัน)
                           12. ซอยวัดอภัย, ถนนหน้าวัดอภัย ซ้าย – ขวา (วันเว้นวัน)
                          </td>
                      </tr>

                      <tr>
                        <td style="text-align: center;">รถขยะมูลฝอยอินทรีย์</td>
                        <td style="text-align: center;">1</td>
                        <td style="text-align: center;">บธ-3630</td>
                        <td style="text-align: center;">08.00-14.00 น.</td>
                        <td style="text-align: center;"> 1. เศษอาหาร, ขยะอินทรีย์ ร้านอาหารในเขตเทศบาลเมืองน่าน, โครงการ
                           จัดรูปที่ดิน, ข่วงฮังต่อ
                           2. กาดน่าน
                           3. ซอยตันหน้าวัดพระเกิด
                           4. ลอมสันหนู ชุมชนสวนหอม ม.3
                           5. ซอยหน้าวัดพระเกิด - บ้าน สท.วิสุทธิ์ (เว้นวัน)
                           6. โรงฆ่าสัตว์เทศบาลเมืองน่าน
                           7. ตลาดสดตั้งจิตณุสรณ์/หน้าร้านหมูอินเตอร์
                          </td>
                      </tr>
         
                     </table>
                  </body>
                </div>
            </div>
        </body>
    
   </div>

   </body>

   
</html>
