<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <script>
        $(document).ready(function(){
            window.location.replace("/newdashboard")
        })
    </script>
<body>
    
</body>
</html>