<!--navbar-->
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #85144b; background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">
    <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto">
                
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <i class="fa fa-sign-out-alt" style="font-size:36px;cursor: pointer; color: white;" onclick="window.location.replace('/auth/logout')"></i>
                <!-- <a class="dropdown-item fixed-right"  >Logout</a> -->
            </ul>
        </div>
    </div>
</nav>
<!--navbar-->