<!-- Sidebar -->
<div class="sidebar fixed-top" style="background:  #fc0000 url('../image/phayao.jpg'); object-fit: cover; ">
    <div class="row mt-4">
        <div class="col-5">
            <i class="fas fa-user-tie ml-5" style="color: white; font-size: 30pt;"></i>
        </div>
        <div class="col-7" style="text-align: left; color: white; font-size: 20pt; font-weight: bold;">ADMIN</div>
    </div>
    <hr style="height: 5px;border-width:0;color:white;background-color:white">
    <!-- <a href="/dashboard">
        <div class="row proposal Card_proposal ">
             <div class="col-0 mt-3">
            <img src="/assets/images/Admin/sidebar/user-w.svg" id="icon_sb">
        </div> 
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>สถิติ</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"> </div>
        </div>
    </a> -->
    <!-- <a href="/heatmap">
        <div class="row proposal Card_proposal ">
          
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>แผนที่ความหนาแน่น</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"> </div>
        </div>
    </a> -->
    <!-- <a href="/adminse">
        <div class="row proposal Card_proposal ">
            
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>จัดการข้อมูลคนขับรถ</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"></div>
        </div>
    </a> -->
    <a href="/carinfo">
        <div class="row proposal Card_proposal ">
           
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>จัดการข้อมูลรถ</b></p>
            </div>
            <div class="col-1 mt-3 ml-1" id="lock"></div>
        </div>
    </a>
    <a href="/carmatchinfo">
        <div class="row proposal Card_proposal ">
         
            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>จับคู่รถ</b></p>
            </div>
            <div class="col-1 mt-3" id="lock"> </div>
        </div>
    </a>
    <a href="/requestdata">
        <div class="row proposal Card_proposal ">

            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>สถิติการเรียกรถ</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"> </div>
        </div>
    </a> 

    <a href="/newdashboard">
        <div class="row proposal Card_proposal ">

            <div class="col-8 mt-4">
                <p id="Text_proposal" style="color: white;"><b>อันใหม่</b></p>
            </div>
            <div class="col-1 mt-3 ml-2" id="lock"> </div>
        </div>
    </a> 

</div>
<!-- Sidebar -->